body {
  background: rgb(85, 85, 85);
}

.container {
  background: rgb(219, 186, 0);
  padding: 20px;
  border-radius: 10px;
  width: 80vw;
  max-width: 800px;
}
#initial-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
}
.input-group {
  width: 100%;
  display: flex;
  padding: 0px;
}
.input-group-text {
  border-radius: 10px 0px 0px 10px;
}
.input-group-prepend {
  flex: 1;
}
.custom-select {
  flex: 5;
  border-radius: 0px 10px 10px 0px;
  outline: none;
  border: solid 0px 0px 0px 1px;
}
#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 11px;
  transition: all 0.5s;
  background: grey;
}
.active {
  background: white;
  box-shadow: 0px 0px 10px 0px rgb(146, 146, 146);
  scale: 1.1;
}

#result-form-trivia-container {
  padding-right: 0;
  margin-top: 100px;
  font-weight: 600;
  display: none;
}
.question {
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: 700;
}
.trivia-item {
  margin-bottom: 13px;
}
#trivia {
  flex: 12;
}
input[type="radio"] {
  margin-right: 10px;
}
.answer-container {
  display: flex;
  align-items: center;
}
#action-buttons {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: auto;
}
.action-button-container {
  padding: 10px 0px;
  width: auto;
  display: flex;
  justify-content: center;
}
#cancel-exam {
  position: sticky;
  top: 0;
}
#send-exam {
  position: sticky;
  bottom: 0;
}
.button.cancel {
  background: rgb(121, 4, 4);
  color: white;
  font-weight: 600;
}
